<div >
  <div>
    <h1 class='recipe-name'>Public Recipes</h1>
        <%= link_to 'New Recipe', new_recipe_path, class: 'button-link' %>

  </div>

  <div class="food flex">
    <% @public_recipes.each do |recipe| %>
      <div class='recipe flex'>
        <div class="recipe-details flex">
          <%= link_to recipe_path(recipe) do %>
            <h2> <%= recipe.name %> </h2>
          <% end %>
          <div>
            by: <%=recipe.user.name%>
          </div>
        </div>

        <%= link_to recipe_path(recipe) do %>
          <h4> <%=recipe.description %> </h4>
        <% end %>
      </div>

    <% end %>
  </div>
</div>