<div class='food-form'>
  <h2 class='new-recipe'>New Recipe</h2>
  <%= form_for @recipe do |f| %>
    <div class='form-group'>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, placeholder: "Recipe name",  class: "form-control"%>
    </div>
    <div class='form-group'>
      <%= f.label :preparation_time, "Preparation time" %>
      <%= f.text_field :preparation_time, placeholder: "10",  class: "form-control" %>
    </div>
    <div class='form-group'>
      <%= f.label :cooking_time, "Cooking time" %>
      <%= f.text_field :cooking_time, placeholder: "20",  class: "form-control"%>
    </div>
    <div class='form-group'>
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, placeholder: "Recipe description",  class: "form-control" %>
    </div>
    <div>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>