<div>
  <h1 class='recipe-name'> <%= @recipe.name %> </h1>

  <div class='recipe-flex'>

    <div>
      <p class='recipe-det'> <span> Preparation Time: </span> <%= @recipe.preparation_time %> minutes </p>
      <p class='recipe-det'> <span> Cooking Time: </span> <%= @recipe.cooking_time %> minutes </p>
      <p class='recipe-det'> <span> Steps: </span> <br/>  <%= @recipe.description %> </p>
    </div>

    <div class='public-box'>
      <%= form_for @recipe, url: { action: :toggle_public } do |f| %>
        <label class='public-label'>
        <span>Public</span>
          <%= f.check_box :public, class: "peer hidden", onchange: "this.form.submit();", checked: @recipe.public? %>
        </label>
      <% end %>      
    </div>

  </div>

  <div>
    <div class='generate'>
      <%= link_to 'Generate Shopping List', shopping_lists_path, class: 'button-link'  %>
      <%= link_to 'Add Ingedrient', new_recipe_recipe_food_path(@recipe), class: 'button-link' %>
    </div>

    <hr>

    <table>
      <thead>
        <tr>
          <th> Food </th>
          <th> Quantity </th>
          <th> Value </th>
          <th class='actions'> Actions </th>
        </tr>
      </thead>
      <tbody>
        <% @recipe_foods.each do |recipe_food| %>
          <tr>
            <td> <%= recipe_food.food.name %> </td>
            <td> <%= recipe_food.quantity %> </td>
            <td> <%= recipe_food.quantity * recipe_food.food.price %> </td>
            <td class='flex-actions'>
                <%= link_to 'Modify', edit_recipe_recipe_food_path(@recipe, recipe_food), class: 'button-link' %> 
                <%= button_to "Remove", recipe_recipe_food_path(@recipe, recipe_food), method: :delete %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>