<p class="success-message"><%= notice %></p>

<div class="header-container">
  <h1>Foods</h1>
  <%= link_to "Add Food", new_food_path, class: "new-food-link" %>
</div>

<div id="foods">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td class="button-container">
            <%= button_to "Delete", food, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
