<p class="success-message"><%= notice %></p>

<div class="food-details">
  <%= render @food %>
</div>

<div class="button-container">
  <%= link_to "Edit this food", edit_food_path(@food) %>
  <%= link_to "Back to foods", foods_path %>
  <%= button_to "Destroy this food", @food, method: :delete %>
</div>