<h2>Modify Ingredient</h2>

<%= form_with(model: @recipe_food, url: recipe_recipe_food_path(@recipe, @recipe_food), method: :patch) do |f| %>
  <div class='new-food'>
    <p>Ingredient: <%= @recipe_food.food.name %></p>
  </div>

  <div class='new-food'>
    <%= f.label :quantity, 'Quantity' %>
    <%= f.number_field :quantity, required: true%>
  </div>

  <div class='new-food'>
    <%= f.submit "Update Ingredient", class: 'button-link' %>
  </div>
<% end %>