<h2>Modify Ingredient</h2>

<%= form_with(model: @recipe_food, url: recipe_recipe_food_path(@recipe, @recipe_food), method: :patch) do |f| %>
  <div>
    <p>Ingedrient: <%= @recipe_food.food.name %></p>
  </div>

  <div>
    <%= f.label :quantity, 'Quantity' %>
    <%= f.number_field :quantity, required: true%>
  </div>

  <div>
    <%= f.submit "Update Ingedrient" %>
  </div>
<% end %>