<%= link_to 'Add food', new_food_path %>
<%= form_with(model: @recipe_food, url: recipe_recipe_foods_path(@recipe), method: :post) do |f| %>

  <div>
    <%= f.label :food_id, 'Food' %>
    <%= f.collection_select :food_id, Food.order(:name), :id, :name, required: true %>
  </div>

  <div>
    <%= f.label :quantity, 'Quantity' %>
    <%= f.number_field :quantity, required: true %>
  </div>

  <div>
    <%= f.submit 'Add ingredient' %>
  </div>

<% end %>